{% extends "base.html" %}

{% load static %}


{% block title %}
Welcome to Blog
{% endblock %}
{% block content %}

<p class="col-sm-12">
    <div id="myDIV" style="display:block;" class="col-sm-12">
      </div>

      <div class="col-sm-12">
        <form id="my-form" class="col-sm-12" >
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary my-2">Submit</button>
        </form>
      </div>

      <div id="result" class="col-sm-12">
        <div class="form-floating mb-3 form-floating-height lg-3 col-sm-12">
          <textarea id="fuzzyKey" class="form-control" placeholder="" id="floatingTextarea2Disabled" style="height: 300px" disabled></textarea>
          <label for="floatingTextarea2Disabled">Comments</label>
        </div>
      </div>

       {% comment %} <p>{{category_list}}</p> {% endcomment %}
      <div id="result" class="col-sm-12">
        <form id="reProduceFornm" class="col-sm-12">
          {% csrf_token %}
          {{ reProduceFornm.as_p }}
          <button type="submit" class="btn btn-primary my-2">Submit</button>
        </form>
      </div>

      <div id="result" class="col-sm-12">
        <div class="form-floating mb-3 form-floating-height lg-3 col-sm-12">
          <textarea id="reProduceKey" class="form-control col-sm-12" placeholder="" id="floatingTextarea2Disabled" style="height: 300px" disabled></textarea>
          <label for="floatingTextarea2Disabled col-sm-12">Comments</label>
        </div>
      </div>
</p>

<script>
  const form = document.getElementById('my-form');
  const reProduceFornm = document.getElementById('reProduceFornm')
  const result = document.getElementById('result');
  const fuzzyOutput = document.getElementById('fuzzyKey')
  const helper = document.getElementById('form-oldpass1111')
  console.log(helper)
  const reProduceOutput = document.getElementById('reProduceKey')
  form.addEventListener('submit', (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    
    fetch('{% url "fuzzy:fuzzy" %}', {
      method: 'POST',
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      console.log(fuzzyOutput)
      fuzzyOutput.placeholder = data.field1
      helper.value = data.field2
      {% comment %} result.innerHTML = `
        <p>Updated content:</p>
        <div class="form-floating mb-3 form-floating-height lg-3 col-sm-12">
          <textarea class="form-control col-sm-12" placeholder="${data.field1}" id="floatingTextarea2Disabled" style="height: 300px" disabled></textarea>
          <label for="floatingTextarea2Disabled">Comments</label>
        </div>
        <ul class="col-sm-12">
          <li>Field 1: ${data.field1}</li>
          <li>Field 2: ${data.field2}</li>
        </ul>
      `; {% endcomment %}
    });
  });
  reProduceFornm.addEventListener('submit', (event) => {
    event.preventDefault();
    const formData = new FormData(reProduceFornm);
    
    fetch('{% url "fuzzy:fuzzy" %}', {
      method: 'POST',
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      console.log(fuzzyOutput)
      reProduceOutput.placeholder = data.field1
    });
  });
</script>
{% include "base/footer.html" %}
{% endblock %}